<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BESCOM Bill</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bill.css">
  </head>
  <body onload="displayBill()">
    <div class="container">
            <div id="head">
            <h5 class="text-center border-bottom py-3 ">
                <i class="fas fa-bolt px-1"></i>BESCOM ELECTRICITY BILL<i class="fas fa-bolt px-1"></i></h5>
            </div>
        <div class="border-bottom" id="details" >
            <p>Account Number:<span class="xyz" id="accountNumber"></span></p>
            <p>Customer Name :<span class="xyz" id="customerName"></span></p>
            <p>Customer Address :<span   id="customerAddress"></span></p>
        </div>
        <div class="border-bottom" id="details" >
            <p>Bill Number : <span class="xyz" id="billNumber"></span></p>
            <p>Billing Period :<span class="xyz" id="billingPeriod"></span></p>
            <p>Bill Generted Date : <span class="xyz" id="billDate"></span></p>
            <p>Consumption Unit :<span class="xyz" id="consumptionUnit"></span></p>
        </div>
        <h6 class="text-center py-2">Fixed-Charges</h6>
        
        <div class="d-flex justify-content-center align-items-center" id="fixedCharge" >
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Unit</th>
                        <th>Amount</th>
                        <th>Fixed Amount</th>
                    </tr>
                </thead>
                <tbody >
                    <tr >
                        <td>1</td>
                        <td>110</td>
                        <td>110</td>
                    </tr>
                </tbody>
            </table>  
        </div>
        <h6 class="text-center">Energy-Charges</h6>
        <div class="border-bottom d-flex justify-content-center align-items-center" id="energyCharge" >
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Unit</th>
                        <th>Amount</th>
                        <th>used unit</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0-50</td>
                        <td>4.00</td>
                        <td id="consumption-1">-</td>
                        <td id="amount-1">-</td>
                      </tr>
                      <tr>
                          <td>51-100</td>
                          <td>5.25</td>
                        <td id="consumption-2">-</td>
                        <td id="amount-2">-</td>
                      </tr>
                      <tr>
                          <td>101-200</td>
                          <td>6.80</td>
                        <td id="consumption-3">-</td>
                        <td id="amount-3">-</td>
                      </tr>
                      <tr>
                          <td>200<</td>
                          <td>7.65</td>
                        <td id="consumption-4">-</td>
                        <td id="amount-4">-</td>
                      </tr>                      
                </tbody>
            </table>  
        </div>
        <div id="detailsAmount">
            <p>Tax @9% :<span class="xyz" id="tax"></span></p>
            <p>Total Amount :<span class="xyz" id="totalAmount"></span></p>
            <p>Due Date: <span class="xyz" id="dueDate"></span></p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <input type="button" value="Download" id="downloadButton" class="btn btn-success" onclick="downloadBill()"/>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/bill.js"></script>
</body>
</html>
