<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BESCOM Bill</title>
    <link rel="stylesheet" href="../css/bill.css"/>
  </head>
  <body onload="displayBill()">
    <div class="bill-container">
      <div class="header">
        <h1>BESCOM Electricity Bill</h1>
        <p>Address: BESCOM office 5th floor,Rajajinagar IT Park,Bengaluru - 560001</p>
        <p>
          Contact:<a href="https://bescom.karnataka.gov.in/"
            >cebraz@bescom.co.in</a
          >|<a href="https://bescompgrs.com/front/chats/onlineRegister">
            bescom.karnataka.gov.in
          </a>
        </p>
      </div>
      <div class="bill-details">
        <p>Account Number: <span id="accountNumber"></span></p>
        <p>Customer Name: <span id="customerName"></span></p>
        <p>Bill ID: <span id="billNumber"></span></p>
        <p>Bill Date: <span id="billDate"></span></p>
        <p>Due Date: <span id="dueDate"></span></p>
        <p>Customer Address: <span id="customerAddress"></span></p>
      </div>
      <table class="bill-items" >
        <thead>
          <tr>
            <th>sl No</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td id="desc"></td>
            <td id="totalamount"></td>
          </tr>
        </tbody>
      </table>
      <div>
        <a href="">Appendix</a>
      </div>
      <div class="footer">
        <p>Thank you for using BESCOM Electricity Services.</p>
      </div>
      <div id="downloadBill">
        <input type="button"  id="downloadButton" value="Download" onclick="downloadBill()">
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../js/bill.js"></script>
  </body>
</html>
