<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  </head>
  <body>
    <div class="login_form_container">
      <div class="login_form">
        <h2>Login</h2>
        <form action="">
        <div class="input_group">
          <i class="fa fa-phone"></i>
          <input
            type="tel"
            placeholder="Phone Number"
            class="input_text"
            id="phone"
          />
        </div>
        <div class="input_group">
          <i class="fa fa-unlock-alt"></i>
          <input
            type="password"
            placeholder="Password"
            class="input_text"
            id="password"
            />
        </div>
        <div class="button_group" id="login_button">
          <input type="button"  value="Login" onclick="handleLogin()" />
        </div>
      <br />
      </form>
      <a href="#" onclick="adminPage()">Admin login</a>
      <p id="loginMessage"></p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>